html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(48, 47, 47);
  color: white;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
}

code {
  border-radius: 8px;
  background-color: rgb(24, 23, 23);
  padding: 16px;
}

.underlined-link {
  color: rgb(92, 132, 219);
  text-decoration: underline;
}

.grey {
  color: grey;
}

.special-link {
  position: relative;
  z-index: 1;
}
.special-link:hover {
  /* color: var(--clr-neutral); */
  color: white;
}

.special-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background: #324f60;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;

  z-index: -1;
}

.special-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

* {
  box-sizing: border-box;
}
